.container-contact{
    width: 100%;
}

#contactform {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
input {
    margin: 1rem;
    padding: 8px;
    width: 100%;
    border: solid 2px rgb(75, 74, 74);
}
.buttonform{
    border: none;
    background-color: grey;
    margin-top: 1rem;
    width: 60%;
}
textarea {
    margin: 12px;
    padding: 8px;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    border: solid 2px rgb(75, 74, 74);
}