.container-ourrooms {
  margin-top: 4rem;
  
  &__title{
    width: 100%;
    font-size: 50px;
    color: #84a491;
    padding-left: 2%;
    padding-right: 2%;
  }
  &__text {
    color: #6d6c63;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 55px;
    line-height: 1.9;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.imgContainer2 {
  height: 300px;
  width: 100%;
  background-image: url("../../assets/img/habitaciones/room1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
