.rooms-title {
  margin-top: 4rem;
}

.imgContainer2 {
  height: 300px;
  width: 100%;
  background-image: url("../../assets/img/habitaciones/room1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prizes {
  color: #6d6c63;
}
