.container-ourrooms {
  margin-top: 4rem;
  margin-bottom: 4rem;

  &__title {
    width: 100%;
    font-size: 50px;
    color: #84a491;
    padding-left: 2%;
    padding-right: 2%;
  }
  &__text {
    color: #6d6c63;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 55px;
    line-height: 1.9;
    padding-left: 2%;
    padding-right: 2%;
  }
  &__prizes {
    margin-top: 3rem;
    color: #6d6c63;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;

    &-title {
      color: #84a491;
    }
    &-strong {
      padding-top: 1rem;
      font-weight: 600;
    }
    &-text {
      display: flex;
      justify-content: space-around;

      &-p {
        width: 40%;
      }
      &-img {
        background-image: url("../../assets/img/comunes/almorzo.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
      }
    }
  }
}

.imgContainer2 {
  height: 300px;
  width: 100%;
  background-image: url("../../assets/img/habitaciones/room1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
