.container-discover {
  background-color: #84a491;
  .title {
    font-size: 50px;
    color: whitesmoke;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
