.container-footer {
    background-color: rgb(75, 74, 74);
    width: 100%;
}

.img-logo{
    background-image: url(../../assets/img/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
}